# Exploratory Data Analysis for Movies on Streaming Platforms

# Table of content:
>1. [Introduction](#Introduction)
>2.[Read Data](#Read_Data)
>3.[Data Cleaning and Aggregation](#Data_Cleaning_and_Aggregation)
>4.[Exploratory Data Analysis And visualization](#Exploratory_Data_Analysis_and_visualization)

# [Introduction](#Introduction)

Movies streaming services becoming increasingly popular, in this EDA project, We are searching for the most impressive movie library of any on-demand streaming service, with a wider range of new and classic content.
The objective is to make a comparison and, suggest striges lead to improvement.  After asking the right questions we ready to get started. This bring us the next step which is data collection our data is collected from Kaggle website. After that,  Cleaning data this is a vital step because ultimately, the accuracy of your analysis will depend on the quality of your data.
Finally, Visualizing data & interrupting result.Movies streaming services becoming increasingly popular, in this EDA project, We are searching for the most impressive movie library of any on-demand streaming service, with a wider range of new and classic content.
The objective is to make a comparison and, suggest striges lead to improvement.  After asking the right questions we ready to get started. This bring us the next step which is data collection our data is collected from Kaggle website. After that,  Cleaning data this is a vital step because ultimately, the accuracy of your analysis will depend on the quality of your data.
Finally, Visualizing data & interrupting result.

# [Imports Libraries](#Imports_Libraries)

In [ ]:
print ("Importing....." ,end="", flush=True)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
%matplotlib inline
!pip install wordcloud
from wordcloud import WordCloud, STOPWORDS
import warnings
warnings.filterwarnings('ignore')
print ("[Done]")

# [Read Data](#Read_Data)

In [ ]:
mp= pd.read_csv('/Users/zeinah/Documents/SDAIA/Project1/MoviesOnStreamingPlatforms_updated.csv', index_col=0 )
#To show the top 10 rows in dataset
mp.head(10)

In [ ]:
#To show some information about dataset such as: Column name, datatype, No.of Rows.
mp.info()

# [Data Cleaning and Aggregation](#Data_Cleaning_and_Aggregation)

##### The Age column It’s includes character, float, and string. First, we removed the character. After that, we replaced the string and null with 0. Finally, converted from object to float to replace all 0 and null with the mode, it’s was the best solution in our case so won’t lose accuracy of data.

In [ ]:
# drop columns that not helpful for my analysis
mp.drop('Language',
  axis='columns', inplace=True)

In [ ]:
mp.duplicated()

In [ ]:
#drop null values 
# removed the character
mp['Age']=mp['Age'].str.replace('+' , '' )

In [ ]:
#replaced the string and null with 0
mp['Age'] = mp['Age'].replace(np.nan, 0)

In [ ]:
 mp.replace('all', None , inplace = True)

In [ ]:
mp['Age']=mp['Age'].replace(0, np.nan)

In [ ]:
mp.Age.value_counts()

In [ ]:
#converted  Age column from object to float to replace all 0 and null with the mode
mp['Age']= mp.Age.astype('float')

In [ ]:
mp["Age"].mode()

In [ ]:
#replace all 0 and null with the mode
cateogry_columns=mp.select_dtypes(include=['float']).columns.tolist()
for Age in mp:
    if mp[Age].isnull().any():
        if(Age in cateogry_columns):
            mp[Age]=mp[Age].fillna(mp[Age].mode()[0])

In [ ]:
mp['Age']= mp.Age.astype('int')

In [ ]:
mp

In [ ]:
mp.Age.isna()

In [ ]:
mp.info()

In [ ]:
mp.Age.unique()

In [ ]:
#Check for missing data
mp.isna().sum()

In [ ]:
mp.describe()

In [ ]:
mp.Age

In [ ]:

mp.dropna(how='any',inplace=True)

In [ ]:
mp.isna ().sum()

# [Exploratory Data Analysis And visualization](#Exploratory_Data_Analysis_And_visualization)

In [ ]:
mp.Genres.unique()

##### From Genres column we have to extract categories. 
Firstly we will split each listing, 
Then we count each category, 
Lastly We will Sort and save it as dictionary.

In [ ]:
mp['Genres']=mp['Genres'].str.replace('-' , ' ' )

In [ ]:
#split each listing
Genres= []
for i in range(len(mp)):
    Genres.extend(mp.Genres.iloc[i].split(','))
print (Genres)

In [ ]:
#count each category.
dic_genres= {}
for i in Genres:
    dic_genres[i] = Genres.count(i)
print(dic_genres)

In [ ]:
#Sort and save it as dictionary.
dic_genres = sorted(dic_genres.items(), key=lambda item: item[1], reverse=True)
print(dic_genres)

In [ ]:
gen = pd.DataFrame(dic_genres, columns=["genre", "count"])

In [ ]:
gen

In [ ]:
sns.set(rc={'figure.figsize':(15,10)})
sns.barplot(data=gen.head(5), x="genre", y="count", palette=['#db3f72', '#ffd966', '#485aa3']);
plt.title('Top 5 Catogry of Genres of Movies',fontsize=30, fontweight='bold', color='#485aa3') 
plt.xlabel('Types of Movies',fontsize=20)
plt.ylabel('Count',fontsize=20);
plt.savefig('Types_of_Movies.png',transparent=True) # To save the plot,

In [ ]:
plt.figure(figsize=(15,7))
chains=mp['Country'].value_counts()[:5] #Top 5 
sns.barplot(x=chains,y=chains.index, palette=['#db3f72', '#ffd966', '#485aa3','#edad7b'])
plt.title("Top Countries Produce ",size=30, fontweight='bold', color='#485aa3')
plt.xlabel("Counts",size=15) 
plt.ylabel("Countries",size=15) 
plt.savefig('Top_Countries_Produce.png',transparent=True)

In [ ]:
mp["Age"].value_counts()

In [ ]:
#we defied the Age into three categories Adult, Teenager and kids.
def Catogery (mp):
    if mp >= 18: 
        return'Adult'
    elif mp >= 13 : 
        return " Teenager"
    elif mp >= 5:
        return "Child"
    else:
        return "Baby"
#combine All the Age in One Column 
mp['Age_Catagery'] = mp.Age.apply(Catogery)

In [ ]:
mp

In [ ]:
sns.countplot(data=mp,x= "Age_Catagery" , palette=['#db3f72', '#ffd966', '#485aa3','#edad7b'])
plt.title('Age Categorys on streaming platforms', fontsize=20, fontweight='bold',color='#485aa3') 
plt.xlabel('Age Catagery',size=20)
plt.ylabel('Frequency',size=20)
plt.savefig('Age_Catagry.png',transparent=True );

In [ ]:
mp = mp.rename(columns={"Prime Video":"PrimeVideo", "Disney+":"disney"})

In [ ]:
# Combine All the platform streaming in One Column  
mp["platform"] = np.where(mp.Netflix ==1, "netflix",
         np.where(mp.Hulu ==1,"hulu",
                  np.where(mp.PrimeVideo == 1,"primeVideo",
                           np.where(mp.disney ==1,"disney"
                                    ,"other"))))

In [ ]:
sns.countplot(data=mp,x="platform" , palette=['#db3f72', '#ffd966', '#485aa3','#edad7b'])
plt.title('Highest Platforms Content', fontsize=25, fontweight='bold',color='#485aa3')

plt.xlabel('Platforms',size=20)
plt.ylabel('Frequency',size=20)
plt.savefig('Highest Platforms Content.png',transparent=True)

In [ ]:
sns.countplot(data=mp, x="Age_Catagery", hue="platform" , palette=['#db3f72', '#ffd966', '#485aa3','#edad7b']);
plt.title('Platforms Content for Each Age Category', fontsize=25, fontweight='bold', color='#485aa3')
plt.xlabel('Age Catagery',size=20)
plt.ylabel('Frequency',size=20)
plt.savefig('Platforms Content for Each Age  .png',transparent=True)

In [ ]:
sns.distplot(mp['Year']);

In [ ]:
def run_time(mp):
    if  mp <= 60 :
        return 'Short'
    elif  mp <= 120: 
        return'normal'
    else :
        return'long'

In [ ]:
mp['Runtime']= mp.Runtime.astype('int')

In [ ]:
mp['Runtime']

In [ ]:
mp["Runtime_bin"] = mp.Runtime.apply(run_time)

In [ ]:
sns.countplot(data=mp,x="Runtime_bin" , palette=['#db3f72', '#ffd966', '#485aa3','#edad7b']) 
plt.title('Duration Of Content', fontsize=25, fontweight='bold',color='#485aa3');
plt.xlabel('Run Time',size=20)
plt.ylabel('Frequency',size=20)
plt.savefig('Movies Run Time.png',transparent=True);

In [ ]:
mp.info()

In [ ]:
mp['IMDb']=mp['IMDb'].str.replace('/10' , '' )

In [ ]:
mp['IMDb'].unique()

In [ ]:
mp['IMDb']= mp.IMDb.astype('float')

In [ ]:
mp['IMDb']= mp.IMDb.astype('int')

In [ ]:
def rating(mp):
    if  mp >= 8:
        return 'High Rated'
    elif  mp <= 7 and mp > 5 : #if the rating less than or equal 7 and greater than 5 replaced with med rated
        return'Med Rated'
    else:
        return'Low Rated'

mp['Movie_rating'] = mp.IMDb.apply(rating)

In [ ]:
mp['Movie_rating']= mp.Movie_rating.astype('object')

In [ ]:
sns.distplot(mp['IMDb']) ;
plt.title('IMDB Rating for Movies', fontsize=25, fontweight='bold');
plt.xlabel('Movie Rating', size= 20 )
plt.ylabel('Density', size = 20)
plt.savefig('IMDB Rating.png', transparent=True);

In [ ]:
sns.countplot(data=mp,x='Movie_rating', palette=['#db3f72', '#ffd966', '#485aa3','#edad7b'])    
plt.title('Movies Rating', fontsize=25, fontweight='bold');
plt.xlabel('Movies Rating' , size=20)
plt.ylabel('Relative Frequency', size=20)
plt.savefig('Movie_rating.png' , transparent=True)

In [ ]:
#From word cloud we can see that Most of the titles of netflix are about love,christams,world.
         
comment_words = ''

stopwords = set(STOPWORDS)


for val in mp.Title:
  
  val = str(val)
  
  tokens = val.split()
  
  for i in range(len(tokens)):
    
    
    tokens[i] = tokens[i].lower()
    
    comment_words += " ".join(tokens) + " "
   
wordcloud = WordCloud(width = 800, height = 800,
                      background_color = 'white',
                    stopwords = stopwords,
                      min_font_size = 10).generate(comment_words)#سو عملية جينيريت ولدها لي 
                      
plt.figure(figsize = (8, 8), facecolor = None)
plt.imshow(wordcloud)
plt.axis('off')

plt.title('Movies Title Analysis', fontsize=25, fontweight='bold' , color='#485aa3')
plt.tight_layout(pad = 0)
plt.show()